<form class="form-inline" *ngIf="!authService.getUser()" style="padding-top: 100px;">
  <div class="form-group">
    <label for="userName">User: (type <em>user</em>)</label>
    <input class="form-control" type="text" name="userName" #userName />
  </div>
  <div class="form-group">
    <label for="password">Password: (type <em>password</em>)</label>
    <input class="form-control" type="password" name="password" #password />
  </div>
  <a class="btn btn-primary" (click)="login(userName.value, password.value)"
    >Login</a
  >
  {{ messageError }}
</form>
<a class="btn btn-primary" (click)="logout()" *ngIf="authService.getUser()" style="margin-top: 100px;"
  >Logout</a
>
