<div class="row" style="padding-top: 10%">
  <div class="col-md-6 offset-md-3">
    <span class="anchor" id="formLogin"></span>
    <!-- form card login with validation feedback -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Whishlist</h3>
      </div>
      <div class="card-body">
        <app-formadd-destination
          (onItemAdded)="addItem($event)"
        ></app-formadd-destination>
      </div>
    </div>
  </div>
</div>
<hr class="mb-5" />
<div class="row">
  <div class="card-group">
    <app-wished-destination
      *ngFor="let x of allDestinations; let i = index"
      [destination]="x"
      [position]="i + 1"
      (clicked)="select($event)"
    ></app-wished-destination>
  </div>
</div>
<hr class="mb-5" />
<div class="row">
  <div class="activites">
    <h4 class="text-center">Activities</h4>
    <ul>
      <li *ngFor="let u of updates">{{ u }}</li>
    </ul>
  </div>
</div>
