<div style="margin-top: 150px;">
  <p>reservation-list works!</p>
  <a [routerLink]="['./', 10]">Details</a>
  <a [routerLink]="['/login']">Login</a>
</div>

<div>
  <ul>
    <!--<li *ngFor="let u of api.getAll()">{{ u.name }}</li>-->
  </ul>
</div>