<div class="card card-product">
  <div class="card-img">
    <img src="{{ destination.imgUrl }}" class="card-img-top" alt="..." />
    <span
      ><h4>{{ position }}</h4></span
    >
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ destination.name }}</h5>
    <p class="card-text">
      {{ destination.description }}
    </p>
    <h5>Services</h5>
    <ul>
      <li *ngFor="let x of destination.services">
        <span [ngSwitch]="x">
          <i *ngSwitchCase="'Breakfast'" style="color: red">{{ x }}</i>
          <i *ngSwitchDefault>{{ x }}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()"
        ><i class="material-icons md-18">thumb_up</i></a
      >
      <a href="#" (click)="voteDown()"
        ><i class="material-icons md-18">thumb_down</i></a
      >
      <a href="#" class="btn btn-primary" (click)="resetVotes()">Reset Votes</a>
    </div>
    {{ destination.votes }}
    <br>
    <br>
    <a href="#" class="btn btn-primary" (click)="addPrefered()">Set prefered</a>
    <span *ngIf="destination.isSelected()">
      <span ngNonBindable>{{ PREFERED }}</span>
    </span>
    <a href="" [routerLink]="['/details']">More details</a>
  </div>
</div>
