/* You can add global styles to this file, and also import other style files */
.card-product {
  margin-top: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card-product:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.card-img img {
  width: 100%;
  height: auto;
  display: block;
}
.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1abc9c;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}
.card-img span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}

footer {
  color: #ffffff;
  margin: 3rem 0px 0px 0px;
  padding: 1.5rem 0px 0px 0px;
  background-color: #005377;
  vertical-align: middle;
}

.btnApply {
  align-self: center;
  width: 50%;
  margin: 0px 0px 1rem 0px;
}

.circle {
  color: #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

.circle a:link,
footer a:link {
  color: #ffffff;
}

.circle a:visited,
footer a:visited {
  /* this rule is: all tag inside footer */
  color: #ffffff;
}

.circle a:hover,
footer a:hover {
  color: #ffffff;
}

.footer-icon {
  padding: 0px 10px 0px 0px;
}

.copyright {
  padding: 20px 0px 0px 0px;
  background-color: #052f5f;
}

.form-error {
  border: 2px solid red;
  border-radius: 4px;
}
.activites {
  display: block;
  flex: auto;
}
