<p>flights works!</p>
<div class="navLinks" style="margin-top: 100px;">
    <a [routerLink]="['./flights-home']">Main</a> |
    <a [routerLink]="['./more-info']">More Info</a> |
    <a [routerLink]="['./', 5]">Flight 5</a>
</div>
<router-outlet></router-outlet>
