<form
  [formGroup]="fg"
  (ngSubmit)="
    save(
      fg.controls['name'].value,
      fg.controls['imgUrl'].value,
      fg.controls['description'].value
    )
  "
  novalidate
>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Enter your name"
      [formControl]="fg.controls['name']"
      [ngClass]="
        fg.controls['name'].hasError('invalidName') ||
        fg.controls['name'].hasError('minLongName') ||
        fg.controls['name'].hasError('required')
          ? 'form-error'
          : ''
      "
    />
    <ul>
      <li *ngFor="let sr of searchResults;">{{ sr }}</li>
    </ul>
    <span
      *ngIf="fg.controls['name'].hasError('invalidName')"
      style="color: red"
      >This input must have 5 characters <br /></span
    >
    <span
      *ngIf="fg.controls['name'].hasError('minLongName')"
      style="color: red"
      >This input must have 3 characters</span
    >
    <span
      *ngIf="fg.controls['name'].hasError('required')"
      style="color: red"
      >This input is required</span
    >
  </div>
  <div class="form-group">
    <label for="imgUrl">Image Url</label>
    <input
      type="text"
      class="form-control"
      id="imgUrl"
      placeholder="Enter the image url..."
      [formControl]="fg.controls['imgUrl']"
      [ngClass]="!fg.controls['imgUrl'].valid ? 'form-error' : ''"
    />
    <span
      *ngIf="fg.controls['imgUrl'].hasError('required')"
      style="color: red"
      >This input is required</span
    >
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="10"
      [formControl]="fg.controls['description']"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Save</button>
</form>
