<div class="container content">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light site-header">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/images/Logo.png"
        class="card-img-top"
        alt="..."
        style="max-width: 10rem; padding-bottom: 10px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/home']"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/details']">Details</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Fecha:  {{ time | async }}
<!-- Footer -->
<footer>
  <!-- Grid row-->
  <div class="row">
    <div class="col-lg-4 align-self-center">
      <h5 class="text-center">Visit our social media</h5>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <div class="circle" style="background-color: #3b5998">
            <a class="fb-ic" href="https://facebook.com">
              <i class="fa fa-facebook-f"> </i>
            </a>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="circle" style="background-color: #db4a39">
            <a class="fb-ic" href="https://googleplus.com">
              <i class="fa fa-google-plus"> </i>
            </a>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <div class="circle" style="background-color: #00acee">
            <a class="fb-ic" href="https://twitter.com">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="circle" style="background-color: #e1306c">
            <a class="fb-ic" href="https://instagram.com">
              <i class="fa fa-instagram"> </i>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <address>
        <h5 class="text-center">Main Office</h5>

        <ul class="list-unstyled text-center">
          <li class="list-inline-item">
            <h6>
              <i class="fa fa-map-marker footer-icon" aria-hidden="true"></i
              >Direction:
            </h6>
          </li>
          <li class="list-inline-item">
            <p>San Jose, Costa Rica</p>
          </li>
        </ul>
        <ul class="list-unstyled text-center">
          <li class="list-inline-item">
            <h6>
              <i class="fa fa-phone footer-icon" aria-hidden="true"></i>Phone:
            </h6>
          </li>
          <li class="list-inline-item">
            <p>+506 64205409</p>
          </li>
        </ul>
        <ul class="list-unstyled text-center">
          <li class="list-inline-item">
            <h6>
              <i class="fa fa-envelope footer-icon" aria-hidden="true"></i
              >Email:
            </h6>
          </li>
          <li class="list-inline-item">
            <a href="mailto:tonyalfarovas2015@gmail.com"
              >tonyalfarovas2015@gmail.com</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="col-lg-4 text-center">
      <h5>Navigate</h5>
      <br>
      <ul class="list-unstyled text-center">
        <li class="text-center"><a href="" [routerLink]="['/home']">Home</a></li>
        <li class="text-center"><a href="" [routerLink]="['/details']">Details</a></li>
      </ul>
    </div>
  </div>
  <!-- Grid row-->
  <!-- Copyright -->
  <div class="copyright text-center">
    <img
      src="assets/images/Logo.png"
      class="card-img-top"
      alt="..."
      style="max-width: 10rem; padding-bottom: 10px"
    />
    <br />
    Copyright © 2020 TonyalfaSolutions S.A
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
